@charset "UTF-8";
*{
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
header .box2{
    background: white;
}
header .box2 i:nth-child(1) {
    padding: 3%;
    font-size: 3em;

}
header .box2 i:nth-child(2) {
    font-size: 4em;
    padding: 3% 2% 3% 5%;
}
header .box2 i:nth-child(3),header .box2 i:nth-child(4) {
    font-size: 3.5em;
    padding: 2%;
}
/*.box1 i:nth-child(4){*/
    /*padding: 1%;*/
/*}*/
header .box2 i:nth-child(5) {
    font-size: 5em;
    padding: 1% 3%;
}
.main{
    margin-top: 15%;
    /*margin-bottom: 5%;*/
}
.main .box1{
    text-align: center;
}
.main .box1 p:nth-child(1){
    font-weight: bold;
    font-size: 3em;
}
.main .box1 p:nth-child(2){
    font-size: 1.5em;
    margin-bottom: 5%;
}
.main .box1_1 .box1_1_1{
   position: relative;
    margin-bottom: 12%;

}
.main .box1_1 .box1_1_1 .p1{
    width: 75%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight: 600;
    padding: 5% 3% 1% 0;
    font-size: 2.2em;
}
.main .box1_1 .box1_1_1 .p2{
    padding: 0 3% 3% 0;
    font-size: 2em;
}
.main .box1_1 .box1_1_1 .p2 span{
    margin-right: 3%;
}
.main .box1_1 .box1_1_1 .img1{
    width:100%;
    height:400px;
}
.main .box1_1 .box1_1_1 .img2{
    position: absolute;
    right: 0;
    bottom: 10%;
    width:20%;
    height:100px
}
.main .box1_1 .box1_1_1 .sp1{
    position: absolute;
    right: 5%;
    bottom: 3%;
    font-size: 2em;

}
footer .box3{
    border-top: 1px solid #adadad;
    padding:2% 0;
    background: white;
}
footer .box3 i{
    font-size: 3.5em;
}
footer .box3 a{
    color: black;
    text-decoration: none;
    font-size:2.5em;
    padding: 5% 5%;
}
footer .box3_1,footer .box3_1 a{
    color: rgba(244, 103, 103, 1);
}



@media screen and (max-width: 767px){
    header .box2 i:nth-child(1) {
        padding: 4%;
        font-size: 1.3em;

    }
    header .box2 i:nth-child(2) {
        font-size: 1.8em;
        padding: 4% 2% 4% 5%;
    }
    header .box2 i:nth-child(3),header .box2 i:nth-child(4) {
        font-size: 1.8em;
        padding: 4% 2%;
    }
    header .box2 i:nth-child(5) {
        font-size: 1.8em;
        padding: 1% 3%;
    }
    .main .box1 p:nth-child(1){
        font-size: 1.5em;
    }
    .main .box1 p:nth-child(2){
        font-size: 1em;
    }

    .main .box1_1 .box1_1_1 .p1{
        padding: 4% 0;
        margin: 0;
        font-size: 1.2em;
    }
    .main .box1_1 .box1_1_1 .p2{
        /*padding: 0 3% 3% 0;*/
        padding: 0;
        font-size: 1em;
    }

    .main .box1_1 .box1_1_1 .img1{
        height:200px;
    }
    .main .box1_1 .box1_1_1 .img2{
        right: 0;
        bottom: 7%;
        width:50px;
        height:50px
    }
    .main .box1_1 .box1_1_1 .sp1{
        position: absolute;
        right: 3%;
        bottom: 0;
        font-size: 1em;
    }
    footer .box3 i{
        font-size: 1.5em;
    }
    footer .box3 a{
        font-size:1em;
    }
}