*{
	margin: 0;
	padding: 0;
}
/************头部********************/
#Top{
	position: relative;
}
.nav{
	width: 100%;
	height: 3em;
	/*border-bottom:.05em solid  #9E9E9E;*/
	background: #fff;
}
.nav_left{
	width: 10%;
	height: 3em;
	float: left;
	text-align: center;
}
.glyphicon-chevron-left{
	color: black;
	font-size: 1.3em;
	margin-top:.6em;
}
.nav_center{
	width: 80%;
	height: 3em;
	float: left;
	text-align: center;
}
.nav_center input{
	background:#F5F5F5 url(../img/search_btn.png)no-repeat .2em;
	background-size:1.3em;
	margin-top:.4em;
	border: 0;
	outline:none;
	color:#8E8E8E;
	width: 18em;
	height: 2em;
	text-indent: 2em;
}
.nav_right{
	width: 10%;
	height: 3em;
	float: left;
	text-align: center;
}
.glyphicon-align-center{
	color: black;
	font-size: 1.3em;
	margin-top:.5em;
}
.goodsclass{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	background:rgba(0,0,0,.5);
}
.goods_right{
	position: absolute;
	bottom: 0;
	height: 18em;
	width: 100%;
	background: #fff;
}
.title{
	position: relative;
	width: 100%;
	height: 2.5em;
	text-align: center;
	font-size: 1.1em;
	background: #fff;
}
.title p{
	line-height: 2.5em;
}
.title span{
	top: .5em;
	color:red;
	position: absolute;
}
.quxiao{
	left: 1em;
}
.quedin{
	right: 1em;
}
.xuanzhe{
	background:#f6f6f6;
	height: 100%;
}
.xuanzhe p{
	height: 3em;
	line-height:3em;
	text-indent: 3em;
	border-bottom: .05em solid #ccc;
	background:#f6f6f6;
	padding: 0;
	margin: 0;
}
.xuanzhe p:last-child{
	border:none;
}
.xuanzhe>.activback{
	background: url("../images/yes.png")no-repeat .5em center;
	background-size: 2em;
}





/***********主体***************/
main{
	margin-top:3em;
}
/*.nav_list{
	width: 100%;
	height: 2em;
}
.nav_list ul li{
	float: left;
	width: 33.3%;
	height: 2em;
	list-style-type:none;
	text-align: center;
}
.nav_list ul li:first-of-type{
	border-bottom: 1px solid red;
}*/
.nav_class{
	margin-top: 1em;
	width: 100%;
}
.nav_class>.demo{
	display: flex;
	width: 100%;
}
.nav_class>.demo>.demo_new{
	width: 50%;
	text-align: center;
}
.demo_new{
	padding-bottom: .5em;
}
.tab-button:hover {
	color: red;
	border-bottom: 1px solid red;
}
.tab-button.active {
	color: red;
	border-bottom: 1px solid red;
}

.gg{
	width: 100%;
	height: 6em;
	background: #F1F1F1;
}
.gg_left{
	width: 20%;
	float: left;
	margin-left: 5%;
}
.gg_left img{
	width: 100%;
	height: 4.5em;
	margin-top:.7em;
}
.gg_center{
	width: 47%;
	float: left;
	margin-left:3%;
}
.gg_center p{
	margin:0;
	margin-top: .5em;
	color: #787878;
}
.sm{
	width: 3em;
	height: 1.5em;
	display: block;
	text-align: center;
	background: #E5E5E5;
	font-size: .9em;
	color:#9D9D9D;
	margin-top:.7em;
}
.gg_right{
	width: 25%;
	float: left;
}
.dj{
	width: 4em;
	height: 2em;
	line-height: 2em;
	display: block;
	background: #FF5733;
	color: #fff;
	text-align: center;
	margin-top: 2em;
	margin-left: 1.5em;
}

.list1{
	width: 90%;
	margin-left:5%;
}
.xg_list{
	width: 100%;
}
.list1 ul li{
	width: 100%;
	list-style-type:none;

}
.img_left{
	width: 38%;
}
.img_left img{
	width: 9em;
	height: 7em;
	float: left;
	margin-bottom: 1.3em;
}
.img_right{
	width: 56%;
	float: left;
	overflow: hidden;
}
.img_right p{
	margin-top:.3em;
	margin-left:1em;
	font-size: 1.2em;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}
.img_right span{
	display: block;
	margin-left:1em;
	margin-top:2.2em;
}

.jz{
	margin-top:25em;
	width: 90%;
	margin-left: 5%;
	height: 1.5em;
	border-bottom:1px solid #ccc;
}
.jz a{
	color:#ccc;
}

.list2{
	width: 90%;
	margin-left:5%;
}
.gd_list{
	width: 100%;
}
.list2 ul li{
	width: 100%;
	list-style-type:none;

}
.img_left{
	width: 38%;
}
.img_left img{
	width: 9em;
	height: 7em;
	float: left;
	margin-bottom: 1.3em;
}
.img_right2{
	width: 56%;
	float: left;
	overflow: hidden;
}
.img_right2 p{
	margin-left:1em;
	font-size: 1.2em;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}
.img_right2 span{
	display: block;
	margin-left:1em;
	margin-top:.8em;
	color: #A6A6A6;
	font-size: .8em;
}
.ppp p{
	margin-left:1em;
	font-size: .9em;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
}
.sp a{
	margin-left:1em;
	color: #000;
	font-size: .8em;
}