*，.marpad{
	margin: 0;
	padding: 0;
}
input,textarea{
	outline:none;	
}
.text-center{
	font-size: 1.5rem;
}
.top_left{
	color: rgb(255,168,168);
}
.setupinput{
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	border-bottom:1px solid #ccc;
}
.setupinput input{
	line-height: 4rem;
	text-align: center;
	border: 0;
}