*{
    margin: 0;
    padding: 0;
    /*font-size: 1.5rem;*/
    color: #626262;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: #f5f5f5;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.5rem;
    background: white;
}
header span{
    color:#f5574e;
}
.main{
    overflow: hidden;
    background: white;
}
.main_once{
    width: 92%;
    overflow: hidden;
    margin: 0 auto;
    /*background: #f5574e;*/
}
.whole{
    padding-top: 1em;
    width: 100%;
    overflow: hidden;
}
.checkbox_nex{
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: .1em solid #999999;
    display: inline-block;
}
.activeback{
    background: #ff2e13 url("../images/gou.png")no-repeat center center;
    background-size:100% 100% ;
    border: .1em solid white;
}
.main_text{
    /*width:90%;*/
    font-size: 1.4em;
    overflow: hidden;
    display: inline-block;
    padding-left: 1em;
    line-height: 1.2em;
    font-weight: 700;
}

.main_footer{
    clear: both;
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    color: #666666;
}
.main_listBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*height: 7em;*/
    margin-top: 1em;
    overflow: hidden;
}
.left_selet{
    width:10%;
    display: flex;
    align-items:center;
    /*background: #66afe9;*/
}
.cen_pic{
    width: 30%;
}
.cen_pic>img{
    width: 100%;
    height: 100%;
}
.righ_cen{
    width: 60%;
    height: 100%;
    padding-left: 1%;
    align-content: space-around;
}
.righ_cen>p:first-child{
    margin-top: 3%;
}
.righ_cen>p{
    margin-top: 3%;
}
.righ_cen>.jieshao{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1.4em;
}
.main_text_right_min{
    font-size: 1rem;
    color: #999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    overflow: hidden;
}
.price_num{
    height: 2em;
    line-height: 2em;
}
.price_num>.price{
    font-size: 1.5em;
}
.price_num>input{
    width: 20%;
    border: .1em solid #ccc;
    float: right;
    height: 100%;
    outline: none;
}


footer{
    width:100%;
    /*height:4rem;*/
    position: fixed;
    bottom: 0;
    background: white;
    /*padding: 1.5rem 1rem;*/
    overflow: hidden;
}
.footer_left{
    padding: 1.5rem 1rem;
    float: left;
}
.footer_right{
    font-size: 1.5rem;
    float:right;
}
.wholeSelect{
    margin-left: 1rem;
}
.footer_text{
    float: left;
    line-height: 2rem;
    text-align: right;
}
.footer_btn{
    width: 7rem;
    height: 3.2rem;
    background: #f5574e;
    float:right;
    color: white;
    text-align: center;
    line-height: 3.2rem;
    margin: 0.5rem 1rem;
}
.footer_text_p1{
    margin-top: 0.1rem;
    color:#f5574e;
}
.footer_text_p2{
    font-size: 1rem;
    color: #ccc;
}

/*.checkbox{*/
    /*visibility: hidden;*/
    /*background: url("../images/gou.png");*/
/*}*/
.checkbox{
    -webkit-appearance: none;  /*清除复选框默认样式*/
    /*background: #f5574e url("../images/gou.png");   !*复选框的背景图，就是上图*!*/
    height: 1.2rem;   /*高度*/
    vertical-align: middle;
    width: 1.2rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-position: -.2rem -.3rem;
}
.changCheck{
    -webkit-appearance: none;
    background: #f5574e url("../images/gou.png");   /*复选框的背景图，就是上图*/
    height: 1.2rem;   /*高度*/
    vertical-align: middle;
    width: 1.2rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-position: -.2rem -.3rem;
}











