*{
	margin: 0;
	padding: 0;
}
/************头部********************/
.clearfix:after{
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}
.nav{
	width: 100%;
	height: 3em;
	border-bottom:.05em solid  #9E9E9E;
	background: #fff;
}
.nav_left{
	width: 30%;
	height: 3em;
	float: left;
	text-align: left;
	padding-left: 1em;
}
.glyphicon-chevron-left{
	color: black;
	font-size: 1.3em;
	margin-top:.6em; 
}
.nav_center{
	width: 40%;
	height: 3em;
	float: left;
	text-align: center;
}
.nav_center p{
	display: block;
	margin-top:.8em;
	color:#737373;
	font-size: 1.1em;
}
.nav_right{
	width: 30%;
	height: 3em;
	float: right;
	text-align: right;
	padding-right: 1em;
	margin-top:.7em; 
}
.nav_right a{
	color: #F17575;
	font-size: 1.2em;
}
/*************主体**********************/
main{
	margin-top:3em; 
}
.xx{
	width: 100%;
}
.list{
	width: 100%;
}
.list ul li{
	list-style-type:none;
	margin-left:4%; 
	margin-right:4%; 
}
.tx{
	width: 10%;
	float: left;
}
.tx img{
	width:3em;
	height:3em;
	border-radius:50%;
	overflow:hidden;
}
.nr_right{
	width: 85%;
	float: left;
	margin-left:5%; 
}
.name{
	color: #7D7D7D;
	display: block;
	font-size: .9em;
	margin-bottom: .3em;
}
.zd{
	width: 5%;
	height: 5%;
	float: left;
	font-size: .9em;
	text-align: center;
	background: #FFBE00;
	color: #fff;
}
.nr{
	width: 93%;
	height: 95%;
	margin-left: 2%;
	font-size: 1em;
	display: block;
	float: left;
	color: #4B4B4B;
	word-wrap: break-word;
	word-break: break-all;
	text-overflow:ellipsis; 
	overflow:hidden; 
	white-space: nowrap; 
}
.time{
	color: #7D7D7D;
}
.pl{
	float: right;
	color: #7D7D7D;
}
.gg{
	width: 100%;
	border-bottom:1px solid #ccc;
}

.nr2{
	width: 98%;
	height: 95%;
	margin-left: 2%;
	font-size: 1em;
	display: block;
	float: left;
	color: #4B4B4B;
	word-wrap: break-word;
	word-break: break-all;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:3;
	overflow: hidden;

}