*{
    margin: 0;
    padding: 0;
    /*font-size: 1.5rem;*/
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.6rem;
    /*position: fixed;*/
    /*top: 0;*/
}
.area{
    font-size: 1.4rem;
    color: #666;
    text-align: center;
}
.area span{
    color:red;
}
.pic{
    width: 100%;
    /*padding: 0 1rem;*/
    overflow: hidden;
}
.pic img{
    width: 100%;
    margin: 0 auto;
}
.favourable{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.favourable_list{
    font-size: 1.2rem;
    text-align: center;
    background: #fddedc;
    border-radius: 0.5rem;
    /*padding: 0.5rem;*/
}
.favourable_left{
    float: left;
    padding: 0.3rem;
    color: #f5574e;
}
.money{
    font-size: 1.5rem;
}
.favourable_right{
    width: 20%;
    float: right;
    background: #f5574e;
    height: 100%;
    color: white;
    border-radius: 0 0.5rem 0.5rem 0;
    line-height: 180%;
}
.main{
    height: 100%;
    background: #f5f5f5;
    padding-bottom: 6.5rem;
}
.list{
    font-size: 1.4rem;
    color: #666;
    /*border-bottom:.1rem solid #ccc;*/
}
.list_title{
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
    /*background: #f2f2f2;*/
    color: #666666;
}
.goods{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.6rem;
    border-bottom:.1rem solid #f2f2f2;
    background: white;
}
.goods_img{
    width: 6rem;
}
.goods_img img{
    width: 6rem;
}
.goods_describe{
    font-size: 1.5rem;
    padding: 0 1rem;
}
.goods_describe_text{
    max-width: 28rem;
    height:3.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1.4rem;
}
.goods_operation{
    width: 9rem;
    padding-top: 3rem;
    /*border: .1rem solid #ccc;*/
}
.goods_operation ul li{
    float: left;
}
.goods_add{
    /*margin-top: 2rem;*/
    width:1.4rem;
    height:1.4rem;
    font-size: 2rem;
    font-weight: bold;
    border: .1rem solid #f5574e;
    color:#f5574e;
    border-radius: 50%;
    line-height: 1rem;
    text-align: center;
}
.goods_money{
    color:#f5574e;
}
.other{
    text-align: center;
    padding: 0.5rem 0;
    background: white;
    font-size: 1.4rem;
    color: #ccc;
}
.other::after{
    content: url("../images/xiangxia.png");
    position: absolute;
}
.list_text{
    padding: 1rem;
    font-size: 1.4rem;
    background: white;
    color: #666;
}
.additional{
    /*background: #f2f2f2;*/
}
footer{
    width:100%;
    position: fixed;
    bottom: 0;
    height:4rem;
    text-align: center;
    line-height: 4rem;
    font-size: 1.6rem;
}
.price{
    width: 50%;
    float: left;
    color:#ff703a;
    background: white;

}
.balance{
    width:50%;
    height: 4rem;
    float: right;
    background: #ff703a;
    color:white;
    border:none;
}

.slide-fade-enter-active {
    transition: all .8s;
}
.slide-fade-leave-active {
    transition: all .5s;
}
.slide-fade-enter, .slide-fade-leave-to{
    transform: translateY(-10px);
    opacity: 0;
}



















