<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加厨友</title>
	<link rel="icon" type="image/x-icon" href="./img/logo.png"/>
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- 加载Boots核心样式 -->
	<link rel="stylesheet" href="./bootscss/bootstrap.min.css">
	<!-- 加载Boots（主题文件）可以不引入 -->
	<link rel="stylesheet" href="./bootscss/bootstrap-theme.min.css" />
	<!-- 加载独立CSS文件 -->
	<link rel="stylesheet" href="./css/addChefs.css">
	<!-- 加载vue.js文件 -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<!-- 加载JQ -->
	<script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="./js/bootstrap.min.js"></script>
	<!-- 加载js -->
	<script src="./js/addChefs.js"></script>
</head>
<body>
			<!-- 头部 -->
	<header id="Top">
		<div class="nav navbar-fixed-top">
			<div class="nav_left"  @click="jimp_html('myCenter.html')">
				<div class="glyphicon glyphicon-chevron-left"></div>
			</div>
			<div class="nav_center">
				<input id="put1" type="text" value="搜索厨友" onfocus="if (value =='搜索厨友'){value =''}" onblur="if (value ==''){value='搜索厨友'}">
			</div>
		</div>
	</header>
	<!-- 主体 -->
	<main id="myapp">
		<!-- <div class="nav_list">
			<ul>
				<li><p>推荐</p></li>
				<li>新浪微博</li>
				<li>QQ空间</li>
			</ul>
		</div> -->
		<div class="nav_class">
            <div  class="demo">
                <div class="demo_new"
                     v-for="tab in tabs"
                     :key="tab"
                     :class="['tab-button', { active: currentTab === tab }]"
                     @click="currentTab = tab"
                >{{ tab }}</div>
            </div>
            <!-- <component v-bind:is="currentTabComponent" class="tab"></component> -->
        </div>

		<div class="pyq">
			<div class="list">
				<ul>
					<li v-for="(x,index) in list1">
						<div class="tx" @click="jimp_html(x.html)">
							<img :src="x.img">
						</div>
						<span>{{x.name}}</span>
						<div @click="guanzhu(index)" class="gz">
							<a href="#">{{x.guanzhu}}</a>
						</div>
						<div class="nr">
							<p>{{x.text}}</p>
							<ul>
								<li v-for="y in x.pic">
									<img :src="y.pimg">
								</li>
							</ul>
							<div class="dd"></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</main>
	<!-- 底部 -->
	<footer></footer>
</body>
<script type="text/javascript">

</script>
</html>